/* --primary-100:#4CAF50;
--primary-200:#2a9235;
--primary-300:#0a490a;
--accent-100:#FFC107;
--accent-200:#916400;
--text-100:#333333;
--text-200:#5c5c5c;
--bg-100:#e6fbe3;
--bg-200:#dcf1d9;
--bg-300:#b4c8b1;
   */
